.article-table {
  display: table-cell;
  border-spacing: 0 0.5em;
  &__header {
    &-date {
      text-align: left;
    }
    &-title {
      text-align: left;
    }
  }

  $body: "#{&}__body";
  #{$body}-row {
    height: max-content;
    &:hover {
      background-color: var(--text-bg-hl);
    }
    #{$body}-date {
      width: 6em;
      text-align: left;
    }
    #{$body}-title {
      text-align: left;
      #{$body}-link {
        display: block;
      }
    }
  }
}
