.article {
  font-size: 1rem;
  text-align: left;
  &__content {
    font-family: 'Merriweather', sans-serif;
    h1, h2, h3, h4, h5, h6 {
      margin-top: 2.25em;
      margin-bottom: 1.5em;
      font-family: 'Ubuntu', serif;
    }
    code {
      background-color: var(--text-bg-hl);
      white-space: pre-wrap;
      word-break: break-word;
    }
    figure {
      text-align: center;
    }
    figcaption {
      padding: 0.5em 0;
    }
    pre {
      background-color: var(--text-bg-hl);
      padding: 1em;
    }
    li {
      line-height: 1.7;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    img {
      display: block;
      max-width: 70%;
      margin: 0 auto;
    }
    p {
      line-height: 1.7;
    }
    table {
      border-spacing: 0 0.5em;
      th {
        text-align: left;
      }
      th, td {
        padding-right: 0.5em;
      }
    }
    .graphviz {
      &__arrow {
        path, polygon {
          stroke: var(--text-color);
          fill: none;
        }
        polygon {
        }
        text {
          fill: var(--text-color);
        }
      }
      &__text {
        path, polygon {
          stroke: var(--text-color);
        }
        text {
          fill: var(--text-color);
        }
      }
    }
  }
}
