.blog-structure {
  $root: &;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em 0 0;
  &__link {
    text-decoration: none;
    &--active, &:hover {
      &:after {
        position: absolute;
        content: " *";
        color: var(--link-active-color);
        font-weight: bold;
        white-space: pre;
      }
    }
  }
  &__list {
    display: block;
    margin: 0.2em 0 0 15px;
    padding: 0px 0px 0px 0px;
    border-left: 1px solid var(--text-color);
    &-item {
      width: max-content;
      list-style-type: none;
      &::before {
        display: inline-block;
        content: ' ';
        height: 0.3em;
        width: 10px;
        border-top: 1px solid var(--text-color);
        border-top-color: var(--text-color);
      }
    }
  }
}
