.category-menu {
  $root: &;
  font-size: 1rem;
  margin-bottom: 40px;
  #{$root}__list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5em;

    list-style-type: none;
    margin: 0;
    padding: 0;
    #{$root}__item {
      text-decoration: none;
      border: 1px solid var(--text-color);
      &:hover, &--selected {
        background: linear-gradient(0deg, var(--text-bg-reverse) 7%, var(--text-bg-hl) 7%);
/*         border-bottom-style: dashed; */
      }
      #{$root}__link {
        display: block;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
}
