.header {
  $root: &;
  display: flex;
  justify-content: space-between;
  & > * {
    align-self: flex-end;
  }
  &__backBtn {
/*     flex: 1; */
    &--hidden {
      display: none;
    }
  }
  &__theme-button {
    background-color: var(--text-bg-reverse);
    padding: 3px;
    border: 2px solid var(--text-bg-reverse);
    border-radius: 0.3em;
    cursor: pointer;
    color: var(--text-bg);
    white-space: pre;
    &:hover {
      box-shadow: 0 0 0px 5px var(--text-bg-reverse);
      outline: none;
    }
  }
  &__title {
/*     flex: 1; */
    font-weight: bold;
    text-decoration: none;
    &:link, &:visited, &:hover, &:active {
      color: var(--text-color) !important;
    }
    &--hidden {
      display: none;
    }
  }
}
