.subcategory-menu {
  $root: &;
  font-size: 1rem;
  margin-bottom: 20px;
  #{$root}__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;

    list-style-type: none;
    margin: 0;
    padding: 0;
    #{$root}__item {
      text-decoration: none;
      border: 1px solid var(--text-color);
      &:not(:last-child) {
        margin-right: 1em;
      }
      &:hover, &--selected {
        background: linear-gradient(0deg, var(--text-bg) 95%, var(--text-bg-reverse) 95%);
        border-top-style: dashed;
      }
      #{$root}__link {
        display: block;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
}
