.subcategory-menu {
  $root: &;
  font-size: 1rem;
  margin-bottom: 20px;
  #{$root}__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    gap: 0.5em;

    list-style-type: none;
    #{$root}__item {
      text-decoration: none;
      border: 1px solid var(--text-color);
      &:hover, &--selected {
        background: linear-gradient(0deg, var(--text-bg-hl) 93%, var(--text-bg-reverse) 93%);
/*         border-top-style: dashed; */
      }
      #{$root}__link {
        display: block;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
}
